<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="./css/styles.css">

	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
